@using BettingWebSiteFUserInterface.ViewModels
@using Shared.Events
@{
    ViewData["Title"] = "Home Page";
}
@model MatchOddsVm;

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Maç Saati</th>
            <th scope="col">Hangi Lig</th>
            <th scope="col">Ev Sahibi Takım</th>
            <th scope="col">Deplasman</th>
            <th scope="col">MS 1</th>
            <th scope="col">MS 0</th>
            <th scope="col">MS 2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.matchodds)
        {

            <tr>
                <th scope="row">*</th>
                <td>@item.MatchTime</td>
                <td>@item.League</td>
                <td>@item.Team1</td>
                <td>@item.Team2</td>
                <td>
                    @item.Ms1  <form method="post" asp-action="Index" asp-area="" asp-controller="Home">
                        <input asp-for="MatchTime" type="hidden" name="MatchTime" value="@item.MatchTime" />
                        <input asp-for="League" type="hidden" name="League" value="@item.League" />
                        <input asp-for="Team1" type="hidden" name="Team1" value="@item.Team1" />
                        <input asp-for="Team2" type="hidden" name="Team2" value="@item.Team2" />
                        <input asp-for="Ms1" type="hidden" name="Ms1" value="@item.Ms1" />
                        <button type="submit" style="color: black; background-color:green;">MS 1 OYNA</button>
                    </form>
                </td>
                <td>
                    @item.Ms0  <form method="post" asp-action="Index" asp-area="" asp-controller="Home">
                        <input asp-for="MatchTime" type="hidden" name="MatchTime" value="@item.MatchTime" />
                        <input asp-for="League" type="hidden" name="League" value="@item.League" />
                        <input asp-for="Team1" type="hidden" name="Team1" value="@item.Team1" />
                        <input asp-for="Team2" type="hidden" name="Team2" value="@item.Team2" />
                        <input asp-for="Ms0" type="hidden" name="Ms0" value="@item.Ms0" />
                        <button type="submit" style="color: black; background-color: green;">MS 0 OYNA</button>
                    </form>
                </td>
                <td>
                    @item.Ms2     <form method="post" asp-action="Index" asp-area="" asp-controller="Home">
                        <input asp-for="MatchTime" type="hidden" name="MatchTime" value="@item.MatchTime" />
                        <input asp-for="League" type="hidden" name="League" value="@item.League" />
                        <input asp-for="Team1" type="hidden" name="Team1" value="@item.Team1" />
                        <input asp-for="Team2" type="hidden" name="Team2" value="@item.Team2" />
                        <input asp-for="Ms2" type="hidden" name="Ms2" value="@item.Ms2" />
                        <button type="submit" style="color: black; background-color: green;">MS 2 OYNA</button>
                    </form>
                </td>
              
            </tr>

       
        }
  
    </tbody>
</table>